.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  margin: 0 5px;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.a {
  text-decoration: underline;
  padding: 0.3rem 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.item {
  display: grid;
  justify-content: center;
}

.datas{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 125px);
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}