.container {
  min-height: 100vh;
  padding: 0 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.main {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.footer {
  width: 100%;
  /* height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 5px;
  color: inherit;
}

.title a {
  /* color: #0070f3; */
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 510px;
  margin-top: 2rem;
}

.card {
  padding: 0.3rem;
  text-align: center;
  color: inherit;
  border: 1px solid #eaeaea;
  /* width: 40%; */
}

.card h4 {
  margin: 0 0 1rem 0;
}

.card p {
  margin: 0;
}

.card a {
  color: inherit;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.gamegrid {
  margin-top: 2rem;
}

.gcard {
  padding: 0.5rem 0.3rem;
  text-align: left;
  color: inherit;
  border: 1px solid #eaeaea;
  /* width: 40%; */
}

.gcard a {
  font-weight: bold;
  color: inherit;
}

.sitegrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.highlights {
  margin-top: 0.83em;
  text-align: center;
}

.highlights a {
  font-weight: bold;
  color:red;
}

/* @media (max-width: 452px) {
  .grid {
    width: 100%;
    flex-grow: initial;
  }

  .card {
    width: 50%;
  }

  .card h4 {
    font-size: 12px;
  }

  .card p {
    font-size: 15px;  
  }
} */
