.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 2rem;
}

.footer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  margin: 0 5px;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.a {
  text-decoration: underline;
  padding: 0.3rem 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
  }
}

.datas{
  text-align: center;
  margin: 0 15px;
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}